<li
  class='toy-list-item'
  data-toy-id="<%= toy.escape('id') %>"
>
  <%= "Name: " + toy.escape('name') + "<br>" +
  "Happiness: " + toy.escape('happiness') + "<br>" +
  "Price: " + toy.escape('price') %>
</li>
