<p class="post-title">
  Title: <%= post.escape("title") %>
</p>
<p class="post-body">
  Body: <%= post.escape("body") %>
</p>
<button class="show-post-delete">Delete</button>
<a href="#" class="post-index-link">Back to Index</a>
