<!-- <button class="btn btn-primary btn-lg btn-block"> -->
  <a href="<%= '#/boards/' + board.escape("id") %>"
     class="btn btn-primary btn-lg btn-block">
    <%= board.escape('title') %>
    
    <button type="button"
            name="button"
            class="delete btn btn-warning">Delete</button>
  </a>
<!-- </button> -->


<ul class="list-items">

<ul>
